streamlit
pandas
numpy
geopandas
shapely
folium
branca
gtfs-kit==12.3.1
beautifulsoup4
requests
ipython
huggingface_hub
rasterio
pycountry
affine
pyproj
pyarrow
urllib3
matplotlib
mapclassify
r5py
openpyxl
